.container{
    display: flex;
    flex-direction: column;
    padding-bottom: 48px;
    border-bottom: 1px solid #EEEEEE;
    .search-input{
        display: flex;
        align-items: center;
        gap: 8px;
        width: 300px;
        border-radius: 5px;
        height: 35px;
        border: 1px solid #e5e5e5;
        padding: 0px 8px;
        align-self: flex-end;
        input{
            width: 100%;
            border: none;
            outline: none;
        }
    }
}

.about-text{
    border: 1px solid var(--primaryAEVO);
    border-radius: 5px;
    padding: 8px 8px 16px 8px;
    font-size: 18px;
    line-height: 24px;
    color: var(--textAEVO);
    margin-top: 10px;
    background-color: #FCFCFC;
}

