<div class="corpo-forum pb-4">
    <header class="custom-header m-5">
        <h1 class="display-5 mt-5 mb-2">Fórum de discussão</h1>
        <p class="custom-paragraph lead mb-5">Este é um espaço onde você pode participar de discussões, trocar informações,
            fazer perguntas, compartilhar opiniões e interagir com outras pessoas que têm interesses semelhantes.</p>
    </header>
    
    <div>
        <app-cadastrar-topico></app-cadastrar-topico>
    </div>

    <div>
        <app-listar-topicos></app-listar-topicos>
    </div>
</div>