<div class="card">
  <form [formGroup]="form" (ngSubmit)="submit($event)">
    <div class="card-body">
      <img class="circle-image" src="https://i.pinimg.com/736x/61/36/60/613660c1e075512ea73f42a99067f8b8.jpg">
      <div class="form-control"> 
        <strong>Digite aqui o que deseja compartilhar com a empresa:</strong>
        <input formControlName="titulo" placeholder="Titulo do topico">
        <textarea formControlName="descricao" id="" cols="30" rows="10" placeholder="O que eu quero compartilhar agora?"></textarea>
      </div>
    </div>
    <button type="submit" [disabled]="form.invalid"><i class="bi bi-chat-dots"></i> Criar Topico</button>
  </form>
</div>