.ordenacao{
    display: flex;
    gap: 8px;
    padding: 20px 0px;
    align-items: center;
    font-weight: bold;
    color: var(--secondaryAEVO);
    justify-content: flex-end;
    select{
        border: 1px solid var(--borderAEVO);
        border-radius: 5px;
        width: 150px;
        padding: 4px;
        font-weight: bold;
        color: var(--secondaryAEVO);
        &:focus{
            outline: none;
        }
        &:hover{
            background-color: block;
        }
    }
    
}