<div class="home-page">
  <h1 id="tableLabel">Fórum de discussão</h1>

  <p class="box">Este é um espaço onde você pode participar de discussões, trocar informações, fazer perguntas,
    compartilhar opinoões e interagir com outras pessoas que tem interesses semelhantes.</p>
</div>
<div class="container page">
  <div class="row">

    <div class="col-md-9">
      <div class="feed-toggle">
        <ul class="nav nav-pills outline-active">
          <li class="nav-item">
            <a class="nav-link" [ngClass]="">
              Your Feed
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [ngClass]="">
              Global Feed
            </a>
          </li>
        </ul>        
        <app-topics></app-topics>
      </div>
  </div>

</div>
